{% extends 'contact/base.html' %}
{% load static %}

{% block sub_title %}
  Example Dashboard
{% endblock sub_title %}

{% block sub_heading %}
  Example Dashboard
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'contact.list' %}" class="pure-menu-link">
              <i class="fa fa-user"></i>
              List
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'contact.create' %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              Create Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
