{% extends 'dash/base.html' %}

{% block content %}
  <div class="pure-u-1">
    To view
    <a href="{% url 'contact.list' %}">
      the list of contacts, click here...
    </a>
  </div>
{% endblock content %}
