<tr valign="top">
  <thead>
    {% if read_only %}
      <td>
    {% else %}
      <td colspan="2">
    {% endif %}
      <strong>Addresses</strong>
    </td>
  </thead>
</tr>
{% for x in contact_addresses %}
  <tr valign="top">
    <td>
      {% if user.is_staff and not read_only %}
        <a href="{% url 'contact.address.update' x.pk %}">
          <i class="fa fa-fw fa-edit"></i>
      {% endif %}
      {% if compact_address %}
        {{ x.address }}
      {% else %}
        {{ x.address_with_newline|linebreaksbr }}
      {% endif %}
      <small>
        {{ x.notes }}
        {{ x.tag_names }}
      </small>
      {% if not read_only %}
        </a>
      {% endif %}
    </td>
    {% if user.is_staff and not read_only %}
      <td>
        <a href="{% url 'contact.address.delete' x.pk %}">
          <i class="fa fa-fw fa-times"></i>
        </a>
      </td>
    {% endif %}
  </tr>
{% endfor %}
{% if user.is_staff and not read_only %}
  <tr valign="top">
    <td colspan="2">
      <a href="{% url 'contact.address.create' contact.pk %}?next={{ next }}">
        <i class="fa fa-fw fa-plus"></i>
        Create address...
      </a>
    </td>
  </tr>
{% endif %}
<tr valign="top">
  <thead>
    <td colspan="2">
      <strong>Phone Numbers</strong>
    </td>
  </thead>
</tr>
{% for x in contact_phones %}
  <tr valign="top">
    <td>
      {% if user.is_staff and not read_only %}
        <a href="{% url 'contact.phone.update' x.pk %}?next={{ next }}">
          <i class="fa fa-fw fa-edit"></i>
      {% endif %}
      {{ x.phone }}
      <small>
        {{ x.notes }}
        {{ x.tag_names }}
      </small>
      {% if not read_only %}
        </a>
      {% endif %}
    </td>
    {% if user.is_staff and not read_only %}
      <td>
        <a href="{% url 'contact.phone.delete' x.pk %}?next={{ next }}">
          <i class="fa fa-fw fa-times"></i>
        </a>
      </td>
    {% endif %}
  </tr>
{% endfor %}
{% if user.is_staff and not read_only %}
  <tr valign="top">
    <td colspan="2">
      <a href="{% url 'contact.phone.create' contact.pk %}?next={{ next }}">
        <i class="fa fa-fw fa-plus"></i>
        Create phone number...
      </a>
    </td>
  </tr>
{% endif %}
<tr valign="top">
  <thead>
    <td colspan="2">
      <strong>emails</strong>
    </td>
  </thead>
</tr>
{% for x in contact_emails %}
  <tr valign="top">
    <td>
      {% if user.is_staff and not read_only %}
        <a href="{% url 'contact.email.update' x.pk %}?next={{ next }}">
          <i class="fa fa-fw fa-edit"></i>
      {% endif %}
      {{ x.email }}
      <small>
        {{ x.notes }}
        {{ x.tag_names }}
      </small>
      {% if not read_only %}
        </a>
      {% endif %}
      <small>
        <a
          href="mailto:{{ x.email }}"
          target="_blank">
          (<i class="fa fa-fw fa-envelope-o"></i> Send an email...)
        </a>
      </small>
    </td>
    {% if user.is_staff and not read_only %}
      <td>
        <a href="{% url 'contact.email.delete' x.pk %}?next={{ next }}">
          <i class="fa fa-fw fa-times"></i>
        </a>
      </td>
    {% endif %}
  </tr>
{% endfor %}
{% if user.is_staff and not read_only %}
  <tr valign="top">
    <td colspan="2">
      <a href="{% url 'contact.email.create' contact.pk %}?next={{ next }}">
        <i class="fa fa-fw fa-plus"></i>
        Create email address...
      </a>
    </td>
  </tr>
{% endif %}
{% if contact.website %}
  <tr valign="top">
    <thead>
      <td colspan="2">
        <strong>Web</strong>
      </td>
    </thead>
  </tr>
  <tr>
    <td>
      <a
        target="_blank"
        title="Website"
        href="{{ contact.website }}">
        <i class="fa fa-fw fa-external-link"></i>
        {{ contact.website }}
      </a>
    </td>
    {% if not read_only %}
      <td></td>
    {% endif %}
  </tr>
{% endif %}
