{% if contact.company_name %}
  <tr>
    <thead>
      <th colspan="2">
        <strong>Company</strong>
      </th>
    </thead>
  </tr>
  <tr>
    <td colspan="2">
      {% if user.is_staff and not read_only %}
        <a href="{% url 'contact.update' contact.pk %}">
          <i class="fa fa-edit"></i>
          {{ contact.company_name }}
        </a>
      {% else %}
        {{ contact.company_name }}
      {% endif %}
    </td>
  </tr>
{% endif %}
<tr>
  <thead>
    <th colspan="2">
      <strong>Contact</strong>
    </th>
  </thead>
</tr>
<tr>
  <td colspan="2">
    {% if user.is_staff and not read_only %}
      <a href="{% url 'contact.update' contact.pk %}">
        <i class="fa fa-edit"></i>
        {% if contact.user.first_name or contact.user.last_name %}
          {{ contact.user.first_name }}
          {{ contact.user.last_name }}
        {% endif %}
      </a>
    {% else %}
      {{ contact.user.first_name }}
      {{ contact.user.last_name }}
    {% endif %}
    <small>
      ({{ contact.user.username }})
    </small>
  </td>
</tr>
{% if contact.notes %}
  <tr class="highlight" valign="top">
    <td colspan="2">
      {{ contact.notes|linebreaksbr|urlize }}
    </td>
  </tr>
{% endif %}
