<table class="pure-table pure-table-bordered" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    {% for contact in contact_list %}
      <tr valign="top">
        <td>
          <a href="{% url 'contact.detail' contact.pk %}">
            {{ contact.company_name }}
            {{ contact.user.get_full_name }}
            <small>
              ({{ contact.user.username }})
            </small>
          </a>
        </td>
        <td>
          {% if show_primary_address and contact.primary_address %}
            {{ contact.primary_address.address }}
          {% else %}
            {% for address in contact.current_addresses %}
              {% if not forloop.first %}
                <br>
              {% endif %}
              {{ address.address }}
            {% endfor %}
          {% endif %}
        </td>
        <td>
          {% for phone in contact.current_phones %}
            {% if not forloop.first %}
              <br>
            {% endif %}
            {{ phone.phone }}
          {% endfor %}
        </td>
        <td>
          {% for email in contact.current_emails %}
            {% if not forloop.first %}
              <br>
            {% endif %}
            {{ email.email|urlize }}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
