<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Contact</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'contact.gender.list' %}" class="pure-menu-link">
      <i class="fa fa-user"></i>
      Gender and Pronouns
    </a>
  </div>
</div>
