{% extends 'contact/base.html' %}

{% block sub_title %}
  Contact
{% endblock sub_title %}

{% block sub_heading %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        {% include '_form.html' with legend='Contact' method='GET' %}
      </div>
    </div>
  </div>

  {% for object in object_list %}
    {% if forloop.first %}
      <table class="pure-table pure-table-bordered">
        <thead>
          <td>
            Name
          </td>
          <td>
            Address
          </td>
        </thead>
    {% endif %}
    <tr>
      <td>
        <a href="{% url 'contact.update' object.pk %}" alt="">
          {% if object.company_name %}
            {{ object.company_name }} ({{ object.full_name }})
          {% else %}
            {{ object.full_name }}
          {% endif %}
        </a>
      </td>
      <td>
        {{ object.address }}
      </td>
    </tr>
    {% if forloop.last %}
      </tbody>
      </table>
    {% endif %}
  {% empty %}
    No results found
  {% endfor %}
{% endblock content %}
