{% extends 'contact/base.html' %}

{% block sub_title %}
  Delete Address
{% endblock sub_title %}

{% block sub_heading %}
  Delete address for
  {{ contact.full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'contact/_menu_item_contact_detail.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      Delete address, <strong>{{ object.address }}</strong>,
      for {{ object.contact.full_name }}
      {% include '_form.html' with submit='Delete address...' %}
    </div>
  </div>
{% endblock content %}

