{% extends 'contact/base.html' %}

{% block sub_title %}
  Address
{% endblock sub_title %}

{% block sub_heading %}
  Address for
  {{ contact.full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'contact/_menu_item_contact_detail.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-xl-2-3">
      {% include '_form.html' with aligned=True %}
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_chosen.html' %}
{% endblock script_extra %}
