{% extends 'contact/base.html' %}

{% block sub_title %}
  Delete {{ object.get_full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  Delete {{ object.get_full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if next %}
              <a href="{{ next }}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% else %}
              {% include 'contact/_menu_item_contact_detail.html' %}
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <i class="fa fa-warning"></i>
      Are you sure you want to delete, <strong>{{ object.get_full_name }}</strong>
      <small>({{ object.user.username }})</small>?
      {% include '_form.html' with submit='Delete contact...' %}
    </div>
  </div>
{% endblock content %}

