{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Gender and Pronouns
{% endblock title %}

{% block sub_heading %}
  Gender and Pronouns
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% if user.is_superuser %}
            <li class="pure-menu-item">
              <a href="{% url 'contact.gender.create' %}" class="pure-menu-link">
                <i class="fa fa-plus"></i>
                Add
              </a>
            </li>
          {% endif %}
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <th>Name</th>
            <th>Subject</th>
            <th>Object</th>
            <th>Dependent Possessive</th>
            <th>Independent Possessive</th>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list %}
            <tr valign="top">
              <td>
                {% if user.is_superuser %}
                  <a href="{% url 'contact.gender.update' x.pk %}">
                    <i class="fa fa-edit"></i>
                    {{ x.name }}
                  </a>
                {% else %}
                  {{ x.name }}
                {% endif %}
                <small>({{ x.slug }})</small>
              </td>
              <td>
                {{ x.pronoun_subject }}
              </td>
              <td>
                {{ x.pronoun_object }}
              </td>
              <td>
                {{ x.pronoun_dependent_possessive }}
              </td>
              <td>
                {{ x.pronoun_independent_possessive }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
