{% extends "base/base.html" %}
{% load static %}

{% block title %}
  Contact
{% endblock title %}

{% block heading %}
  Contact
{% endblock heading %}

{% block sub_heading %}
  Example App
{% endblock sub_heading %}

{% block menu_dash %}
  {% if user.is_staff %}
    <li class="pure-menu-item{% if 'search' in path %} pure-menu-selected{% endif %}">
      <a href="{% url 'project.search' %}" class="pure-menu-link">Search</a>
    </li>
  {% endif %}
{% endblock menu_dash %}

{% block footer %}
{% endblock footer %}
